:root{
    --foreground-color:#A4A400;
    --background-color: #F0F0F0;
}
*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    background: var(--background-color);
}
h1{
    color: var(--foreground-color);
    text-decoration: underline;
    ba
}